<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>

<h1 class="mt-3 mb-3 title-default">
	Last Matches - beta
	<a class="float-right" href="#" (click)="back($event)">Back</a>
</h1>

<ng-container *ngIf="matches">
    <div class="match-container-item mb-2" *ngFor="let match of matches | orderBy : '-startDate'">
        <div class="card custom-card bg-dark">
            <div class="card-img-top">
                <div class="card-img-top-inner">
                    <div class="row">
                        <div class="col-12">
                            <h4>Verdansk</h4>
                            <h5>Team Placement: {{ match.teamPlacement | ordinal }}</h5>
                            <h6>{{ getBrCode(match.mode) }}</h6>
                            <strong>{{ match.startDate | date : 'dd/MM/yy, HH:mm'}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-6"><strong>Username</strong></div>
                    <div class="col-2"><strong>K</strong></div>
                    <div class="col-2"><strong>D</strong></div>
                    <div class="col-2"><strong>R</strong></div>
                </div>
                <hr class="mt-2 mb-2" style="border-top: 1px solid #fff;">
                <div class="row" *ngFor="let player of match.players">
                    <div class="col-6">{{ player.username }}</div>
                    <div class="col-2">{{ player.kills }}</div>
                    <div class="col-2">{{ player.deaths }}</div>
                    <div class="col-2">{{ getFormattedRatio(player.kdRatio) }}</div>
                </div>
            </div>
        </div>
    </div>
</ng-container>