<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-uppercase" href="#">CoD Warzone Team Progress</a>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<nav class="container-fluid footer-nav-actions">
  <div class="row">
    <div class="col-6 text-uppercase text-center">
      <a routerLink="/">Home</a>
    </div>
    <div class="col-6 text-uppercase text-center">
      <a routerLink="/last-matches">Matches</a>
    </div>
  </div>
</nav>