<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-uppercase" href="#">CoD Warzone Team Progress</a>
</nav>

<div class="container-fluid">
  <h1 class="mt-3 mb-3 title-default">Team Progress</h1>
  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let player of playersResult">
      <div class="card bg-dark mb-4">
        <div class="card-body">
          <div class="media mb-2">
            <img src="./assets/images/{{ player.platform }}.svg" width="24" class="mr-2">
            <div class="media-body">
              <h5 class="mt-0 ellipsis">
                [<span class="text-warning">{{ regimentCode }}</span>]
                {{ player.username }}
              </h5>
            </div>
          </div>
          <div class="card-text">
            <p class="subtitle-card">
              Overview
            </p>
            <div class="row custom-card-row">
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Wins</dt>
                  <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.wins }}</dd>
                </dl>
              </div>
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Top 5</dt>
                  <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.topFive }}</dd>
                </dl>
              </div>
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Top 10</dt>
                  <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.topTen }}</dd>
                </dl>
              </div>
            </div>

            <p class="subtitle-card">
              Progress
            </p>
            <div class="row custom-card-row">
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Kills</dt>
                  <dd class="ellipsis {{ getClassNum(getKillsProgress(player)) }}">{{ getKillsProgress(player) }}%</dd>
                </dl>
              </div>
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Deaths</dt>
                  <dd class="ellipsis {{ getClassNum(getDeathsProgress(player), true) }}">{{ getDeathsProgress(player) }}%</dd>
                </dl>
              </div>
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Ratio</dt>
                  <dd class="ellipsis {{ getClassNum(getRatioProgress(player)) }}">{{ getRatioProgress(player) }}%</dd>
                </dl>
              </div>
            </div>

            <!-- Weekly -->
            <p class="subtitle-card">
              Weekly
            </p>
            <div class="row custom-card-row">
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Kills</dt>
                  <dd class="ellipsis">{{ player.weekly.mode.br_all.properties.kills }}</dd>
                </dl>
              </div>
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Deaths</dt>
                  <dd class="ellipsis">{{ player.weekly.mode.br_all.properties.deaths }}</dd>
                </dl>
              </div>
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Ratio</dt>
                  <dd class="ellipsis">{{ getFormattedNumber(player.weekly.mode.br_all.properties.kdRatio) }}</dd>
                </dl>
              </div>
            </div>

            <!-- Lifetime -->
            <p class="subtitle-card">
              Lifetime
            </p>
            <div class="row custom-card-row">
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Kills</dt>
                  <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.kills }}</dd>
                </dl>
              </div>
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Deaths</dt>
                  <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.deaths }}</dd>
                </dl>
              </div>
              <div class="col-4 custom-card-col">
                <dl class="label-info blue">
                  <dt class="ellipsis">Ratio</dt>
                  <dd class="ellipsis">{{ getFormattedNumber(player.lifetime.mode.br_all.properties.kdRatio) }}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>