<div class="card bg-dark mb-4" (click)="openProfile(player.username, player.platform)">
  <div class="card-body">
    <div class="media mb-2">
      <img src="/assets/images/{{ player.platform }}.svg" width="24" height="24" class="mr-2">
      <div class="media-body">
        <h5 class="mt-0 ellipsis">
          [<span class="text-warning">{{ regimentCode }}</span>]
          {{ player.username }}
        </h5>
      </div>
    </div>
    <div class="card-text" *ngIf="player">
      <p class="subtitle-card">
        Overview
      </p>
      <div class="row custom-card-row">
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Wins</dt>
            <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.wins }}</dd>
          </dl>
        </div>
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Top 5</dt>
            <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.topFive }}</dd>
          </dl>
        </div>
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Top 10</dt>
            <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.topTen }}</dd>
          </dl>
        </div>
      </div>

      <p class="subtitle-card">
        Progress
      </p>
      <div class="row custom-card-row">
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Kills</dt>
            <dd class="ellipsis {{ getClassNum(getKillsProgress(player)) }}">{{ getKillsProgress(player) }}%
            </dd>
          </dl>
        </div>
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Deaths</dt>
            <dd class="ellipsis {{ getClassNum(getDeathsProgress(player), true) }}">
              {{ getDeathsProgress(player) }}%</dd>
          </dl>
        </div>
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Ratio</dt>
            <dd class="ellipsis {{ getClassNum(getRatioProgress(player)) }}">{{ getRatioProgress(player) }}%
            </dd>
          </dl>
        </div>
      </div>

      <!-- Weekly -->
      <p class="subtitle-card">
        Weekly
      </p>
      <div class="row custom-card-row">
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Kills</dt>
            <dd class="ellipsis" *ngIf="player.weekly.mode.br_all">{{ player.weekly.mode.br_all.properties.kills }}</dd>
            <dd class="ellipsis" *ngIf="!player.weekly.mode.br_all">0</dd>
          </dl>
        </div>
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Deaths</dt>
            <dd class="ellipsis" *ngIf="player.weekly.mode.br_all">{{ player.weekly.mode.br_all.properties.deaths }}</dd>
            <dd class="ellipsis" *ngIf="!player.weekly.mode.br_all">0</dd>
          </dl>
        </div>
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Ratio</dt>
            <dd class="ellipsis" *ngIf="player.weekly.mode.br_all">{{ getFormattedValue(player.weekly.mode.br_all.properties.kdRatio) }}</dd>
            <dd class="ellipsis" *ngIf="!player.weekly.mode.br_all">0</dd>
          </dl>
        </div>
      </div>

      <!-- Lifetime -->
      <p class="subtitle-card">
        Lifetime
      </p>
      <div class="row custom-card-row">
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Kills</dt>
            <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.kills }}</dd>
          </dl>
        </div>
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Deaths</dt>
            <dd class="ellipsis">{{ player.lifetime.mode.br_all.properties.deaths }}</dd>
          </dl>
        </div>
        <div class="col-4 custom-card-col">
          <dl class="label-info blue">
            <dt class="ellipsis">Ratio</dt>
            <dd class="ellipsis">{{ getFormattedValue(player.lifetime.mode.br_all.properties.kdRatio) }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="alert alert-warning mb-0" *ngIf="!player">
      Não foi possível buscar os dados desse usuário.
    </div>
  </div>
</div>